.nav-link {
  text-decoration: none !important;
}

.tf__droap_menu a {
  text-decoration: none !important;
}

.navbar-nav .nav-item .nav-link {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
} 